# =====================================
# Logs
# =====================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================================
# Node.js (Frontend)
# =====================================
node_modules
dist
dist-ssr
*.local

# =====================================
# Python (Backend)
# =====================================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
instance/
.pytest_cache/
.coverage
*.cover

# =====================================
# Editor files
# =====================================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================================
# Others
# =====================================
*.local
